@import "tailwindcss";

/* body {
  background-color: #000;
  color: #fff;
} */
body {
  /* background-color: #494747; */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.scrollbar-hidden {

  scrollbar-width: none;
}